<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" description="DemoConnector for Marketing Automation services" tags=" EPiServerModulePackage EPiServerAddon EPiServer MarketingAutomationIntegration MAI Connect Silverpop Marketing Automation ConnectForMarketingAutomation " productName="EPiServer Connect for Marketing Automation" version="1.0.0.0000">
  <assemblies>
    <add assembly="DemoConnector" />
  </assemblies>
</module>